<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-nav">
                <div class="header-wrap">
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header-group">
                        <div class="header-select">
                            <div class="header-select-gr">
                                <span class="icon-flag">
                                    <img src="./assets/images/icon-flag.png" alt="">
                                </span>
                                <span class="text">
                                    EN
                                </span>
                                <span class="icon">
                                    <i class="fa-light fa-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-gr menu-open">
                                <span class="text">
                                    MENU
                                </span>
                                <span class="icon">
                                    <i class="fa-solid fa-bars-sort"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Projects">
                                        Projects
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="About">
                                        About
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Team">
                                        Team
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="News">
                                        News
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Contact">
                                        Contact
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu-ct">
                        <div class="menu-ct-list">
                            <div class="menu-ct-item">
                                <span class="t20">
                                    Quick inquiry
                                </span>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span data-label="(+84) 961-554-388">(+84) 961-554-388</span>
                                    </span>
                                </a>
                            </div>
                            <div class="menu-ct-item">
                                <span class="t20">
                                    E-mail
                                </span>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span
                                            data-label="support@review-ty.com">support@review-ty.com</span>
                                    </span>
                                </a>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span
                                            data-label="marketing@review-ty.com">marketing@review-ty.com</span>
                                    </span>
                                </a>
                            </div>
                            <div class="menu-ct-item">
                                <span class="t20">
                                    Follow us
                                </span>
                                <div class="icon-list">
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-fb.png" alt="">
                                    </a>
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-ins.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <!-- <div class="bn">
            <div class="bn-wrap">
                <div class="bn-flex">
                    <div class="bn-col">
                        <div class="bn-img">
                            <div class="inner">
                                <img src="./assets/images/bn-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bn-col">
                        <div class="bn-img">
                            <div class="inner">
                                <img src="./assets/images/bn-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <section class="sec-vis color_wrap black">
            <div class="cursor">
                <span>
                    <svg class="cir" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 142">
                        <circle class="cls-2" cx="71" cy="71" r="70"></circle>
                    </svg>
                    <em>
                        <svg class="arr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.56 29.5">
                            <polyline class="cls-1" points="29.31 1.5 44.06 14.75 29.31 28"></polyline>
                            <line class="cls-1" x1="44.06" y1="14.75" x2="1.5" y2="14.75"></line>
                        </svg>
                    </em>
                </span>
            </div>
            <div class="inner-pos in_18 h_max">
                <div class="vis_txt active">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="http://thepeak-dosan.com" target='_blank'></a>
                                <p class="txt_point mid">더피크 도산</p>
                                <p class="txt_point copy_txt">더피크 도산</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.hanwhamotiev.com/web/main.do" target='_blank'></a>
                                <p class="txt_point mid">한화모티브</p>
                                <p class="txt_point copy_txt">한화모티브</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.tstrillion.com/" target='_blank'></a>
                                <p class="txt_point mid">TS샴푸</p>
                                <p class="txt_point copy_txt">TS샴푸</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://www.kedsup.co.kr/user/umain/home.do" target='_blank'></a>
                                <p class="txt_point mid">교보에듀케어서비스</p>
                                <p class="txt_point copy_txt">교보에듀케어서비스</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://imecomall.co.kr/" target='_blank'></a>
                                <p class="txt_point mid">아임에코몰</p>
                                <p class="txt_point copy_txt">아임에코몰</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://weekly.knou.ac.kr/" target='_blank'></a>
                                <p class="txt_point mid">방통대 출판문화원</p>
                                <p class="txt_point copy_txt">방통대 출판문화원</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://prudiotest.godohosting.com/ht/2022/yeongtong/" target='_blank'></a>
                                <p class="txt_point mid">영통 푸르지오</p>
                                <p class="txt_point copy_txt">영통 푸르지오</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://the-wisegroup.co.kr" target='_blank'></a>
                                <p class="txt_point mid">더 와이즈 그룹</p>
                                <p class="txt_point copy_txt">더 와이즈 그룹</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://xn--2y1b853arqm.kr/" target='_blank'></a>
                                <p class="txt_point mid">연등회</p>
                                <p class="txt_point copy_txt">연등회</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://clickdk.com/" target='_blank'></a>
                                <p class="txt_point mid">대광건영</p>
                                <p class="txt_point copy_txt">대광건영</p>
                            </div>
                            <div class="swiper-slide">
                                <a href="http://advary.co.kr/" target='_blank'></a>
                                <p class="txt_point mid">애드베리</p>
                                <p class="txt_point copy_txt">애드베리</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vis_img active">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-1893489430_yf05UStA_add9e60a2768984d6c7f5b8fe84c29351db06292_960x540.jpg);">
                                        </div>
                                        <a href="http://thepeak-dosan.com" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_4I6veRG3_93112a449363c37c05f62e5e00bfcf51933b4960_960x540.jpg);">
                                        </div>
                                        <a href="https://www.hanwhamotiev.com/web/main.do" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_bdCDkMje_a1eef5fe87b942f27d214cfd911be0f84d66d0ae_960x540.jpg);">
                                        </div>
                                        <a href="https://www.tstrillion.com/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_Eboq9Uve_cd3bb8ea31daac12aa4b32a2bba2c98c756b2112_960x540.jpg);">
                                        </div>
                                        <a href="http://www.kedsup.co.kr/user/umain/home.do" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-1893489430_pCdnXmDL_8b24ad70b14f9f80d72de34dc80c3717b74813dd_960x540.jpg);">
                                        </div>
                                        <a href="https://imecomall.co.kr/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_IecNxPhu_80c9ff923d93bd9c203ad58d56c5e03348655977_960x540.jpg);">
                                        </div>
                                        <a href="http://weekly.knou.ac.kr/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_zSOey8Eh_e0dd3e1aff9ca1f231164236c757fd00656f1a80_960x540.jpg);">
                                        </div>
                                        <a href="http://prudiotest.godohosting.com/ht/2022/yeongtong/"
                                            target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_1pD9YaW7_6b8f27758d018b47036d46c6f5c92d0a48cf2448_960x540.jpg);">
                                        </div>
                                        <a href="http://the-wisegroup.co.kr" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_KylnHkWM_ba7e788d308aee60904c7e236f37e0c1663ad6ea_960x540.jpg);">
                                        </div>
                                        <a href="http://xn--2y1b853arqm.kr/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_7Lvh2RIb_4d5216902bdbbdee0e357a8843b4d674ebd5ef25_960x540.jpg);">
                                        </div>
                                        <a href="https://clickdk.com/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero" data-control-method="touch" data-max-angle="0"
                                        data-speed="0.02">
                                        <div class="bg"
                                            style="background-image: url(http://herenn.co.kr/data/file/main/thumb-3024499621_3MFHa10q_f767828794ac4e95001e323d382d0ff9c60cc97d_960x540.jpg);">
                                        </div>
                                        <a href="http://advary.co.kr/" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vis_scrollbar">
                            <span>
                                <em></em>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="vis_num"></div>
            </div>
        </section>
        <section class="sec-contact">
            <div class="container">
                <div class="contact">
                    <div class="contact-wrap">
                        <div class="contact-flex">
                            <div class="contact-col">
                                <div class="contact-form">
                                    <div class="contact-form-top">
                                        <div class="contact-tt">
                                            <h2>
                                                Customer Inquiry
                                            </h2>
                                        </div>
                                        <div class="contact-des">
                                            <p>
                                                Contact us via email or phone for any questions or concerns
                                            </p>
                                        </div>
                                    </div>
                                    <form action="">
                                        <div class="contact-form-gr">
                                            <div class="ip-control">
                                                <label for="" class="t-label">Phone number</label>
                                                <input type="text">
                                            </div>
                                            <div class="ip-control">
                                                <label for="" class="t-label">Email</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn sc-btn">
                                            <div class="inner">
                                                <i class="fa-light fa-arrow-right"></i>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="contact-col">
                                <div class="contact-list">
                                    <div class="contact-item">
                                        <p class="text">
                                            Quick inquiry
                                        </p>
                                        <a href="" class="btn-flip t-link t64 fw-7">
                                            <span class="label"><span data-label="(+84) 961-554-388">(+84)
                                                    961-554-388</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="contact-item">
                                        <p class="text">
                                            E-mail
                                        </p>
                                        <a href="" class="btn-flip t-link t48 fw-7">
                                            <span class="label"><span
                                                    data-label="support@review-ty.com">support@review-ty.com</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-dcv">
            <div class="dcv">
                <div class="dcv-slider dcv-slider-one">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="dcv-img is-phone">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide is-phone">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dcv-slider dcv-slider-two">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-7.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-8.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-9.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-10.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-11.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dcv-img">
                                    <div class="inner">
                                        <img src="./assets/images/dcv-img-6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-ctn">
                    <div class="footer-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="footer-info">
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Email
                                </p>
                                <a href="" class="tlink">
                                    marketing@review-ty.com
                                </a>
                            </div>
                        </div>
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Phone number
                                </p>
                                <a href="" class="tlink">
                                    (+84) 961-554-388
                                </a>
                            </div>
                        </div>
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Follow us
                                </p>
                                <div class="ft-list">
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-fb.png" alt="">
                                    </a>
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-ins.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-map my-100">
                    <div class="footer-map-inner">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.0126638090078!2d105.76952933729409!3d21.031672558120984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3e68de1e9%3A0x2b0e6e578c563552!2sC%C3%94NG%20TY%20TNHH%20REVIEWTY!5e0!3m2!1svi!2s!4v1692029878939!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="footer-sign">
                    <p>
                        COPYRIGHT © 2023. REVIEWTY. ALL RIGHTS RESERVED.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/library/gsap/TweenMax.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>