<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-nav">
                <div class="header-wrap">
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header-group">
                        <div class="header-select">
                            <div class="header-select-gr btnLang">
                                <span class="icon-flag">
                                    <img src="./assets/images/icon-flag.png" alt="">
                                </span>
                                <span class="text">
                                    EN
                                </span>
                                <span class="icon">
                                    <i class="fa-light fa-chevron-down"></i>
                                </span>
                            </div>
                            <div class="header-select-pos">
                                <div class="header-select-options">
                                    <div class="header-select-item">
                                        <a href="" class="header-select-gr">
                                            <span class="icon-flag">
                                                <img src="./assets/images/icon-flag.png" alt="">
                                            </span>
                                            <span class="text">
                                                EN
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-gr menu-open" id="hamburger">
                                <span class="text">
                                    MENU
                                </span>
                                <span class="icon">
                                    <i class="fa-light fa-bars-sort"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Projects">
                                        Projects
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="About">
                                        About
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Team">
                                        Team
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="News">
                                        News
                                    </span>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="menu-link">
                                    <span data-label="Contact">
                                        Contact
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu-ct">
                        <div class="menu-ct-list">
                            <div class="menu-ct-item">
                                <span class="t20">
                                    Quick inquiry
                                </span>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span data-label="(+84) 961-554-388">(+84) 961-554-388</span>
                                    </span>
                                </a>
                            </div>
                            <div class="menu-ct-item">
                                <span class="t20">
                                    E-mail
                                </span>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span
                                            data-label="support@review-ty.com">support@review-ty.com</span>
                                    </span>
                                </a>
                                <a href="" class="btn-flip t-link">
                                    <span class="label"><span
                                            data-label="marketing@review-ty.com">marketing@review-ty.com</span>
                                    </span>
                                </a>
                            </div>
                            <div class="menu-ct-item">
                                <span class="t20">
                                    Follow us
                                </span>
                                <div class="icon-list">
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-fb.png" alt="">
                                    </a>
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-ins.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="bn">
            <div class="bn-wrap">
                <div class="bn-flex">
                    <div class="bn-col">
                        <div class="bn-img">
                            <div class="inner">
                                <img src="./assets/images/bn-img.jpg" alt="">
                            </div>
                            <div class="bn-pos">
                                <div class="bn-pos-inner">
                                    <div class="bn-tt">
                                        <p>
                                            Unveiling uncut Gems
                                        </p>
                                    </div>
                                    <div class="bn-des">
                                        <p>
                                            Reviewty Uncut <br>
                                            Connecting Innovative Brands and Trend-Seekers
                                        </p>
                                    </div>
                                    <a href="" class="btns">
                                        <span class="text">
                                            More
                                        </span>
                                        <span class="icon">
                                            <i class="fa-light fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bn-col">
                        <div class="bn-img">
                            <div class="inner">
                                <img src="./assets/images/bn-img2.jpg" alt="">
                            </div>
                            <div class="bn-pos bg-black">
                                <div class="bn-pos-inner">
                                    <div class="bn-tt">
                                        <p>
                                            Trending products
                                        </p>
                                    </div>
                                    <div class="bn-des">
                                        <p>
                                            Experience innovative products tailored for the global market <br> that are
                                            new and gaining popularity
                                        </p>
                                    </div>
                                    <a href="#section4" class="btns">
                                        <span class="text">
                                            More
                                        </span>
                                        <span class="icon">
                                            <i class="fa-light fa-arrow-down"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
        </div>
        <section class="sec-cus">
            <div class="container">
                <div class="cus">
                    <div class="cus-wrap">
                        <div class="cus-flex">
                            <div class="cus-left">
                                <div class="cus-box text">
                                    <h2 class="cus-title">
                                        Reach <br>
                                        Millions of
                                        Target Consumers
                                    </h2>
                                </div>
                                <div class="cus-block">
                                    <div class="cus-list">
                                        <div class="cus-col">
                                            <div class="cus-box" data-aos="fade-up" data-aos-delay="600">
                                                <div class="cus-box-inner"
                                                    style="background-image: url(./assets/images/cus-bg1.png);">
                                                    <div class="cus-box-head">
                                                        <span class="icon x1">
                                                            <svg class="" width="100%" height="100%" viewBox="0 0 24 24"
                                                                stroke-width="0.8" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" color="#fff">
                                                                <path
                                                                    d="M12 23a1 1 0 100-2 1 1 0 000 2zM3 8a1 1 0 100-2 1 1 0 000 2zM3 18a1 1 0 100-2 1 1 0 000 2z"
                                                                    fill="#fff" stroke="#fff" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-1"></path>
                                                                <path
                                                                    d="M21 7.353v9.294a.6.6 0 01-.309.525l-8.4 4.666a.6.6 0 01-.582 0l-8.4-4.666A.6.6 0 013 16.647V7.353a.6.6 0 01.309-.524l8.4-4.667a.6.6 0 01.582 0l8.4 4.667a.6.6 0 01.309.524z"
                                                                    stroke="#fff" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-2"></path>
                                                                <path
                                                                    d="M3.528 7.294l8.18 4.544a.6.6 0 00.583 0l8.209-4.56M12 21v-9"
                                                                    stroke="#fff" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-3"></path>
                                                            </svg>
                                                        </span>
                                                        <p class="txt">
                                                            Products
                                                        </p>
                                                    </div>
                                                    <div class="cus-box-bot">
                                                        <span class="t-num">
                                                            <span class="countNum">400</span> <span>+</span>
                                                        </span>
                                                        <p class="txt">
                                                            Products successfully launched
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cus-col">
                                            <div class="cus-box cus-black" data-aos="fade-up">
                                                <div class="cus-box-inner"
                                                    style="background-image: url(./assets/images/cus-bg2.jpg);">
                                                    <div class="cus-box-head">
                                                        <span class="icon x2">
                                                            <svg width="100%" height="100%" stroke-width="0.8"
                                                                viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" color="#000000">
                                                                <path
                                                                    d="M4.635 14.415l1.039-2.203a.357.357 0 01.652 0l1.04 2.203 2.323.356c.298.045.416.429.2.649l-1.68 1.713.396 2.421c.051.311-.26.548-.527.401L6 18.812l-2.078 1.143c-.267.147-.578-.09-.527-.4l.396-2.422-1.68-1.713c-.217-.22-.098-.604.2-.65l2.324-.355zM16.635 14.415l1.039-2.203a.357.357 0 01.652 0l1.04 2.203 2.323.356c.298.045.416.429.2.649l-1.68 1.713.396 2.421c.051.311-.26.548-.527.401L18 18.812l-2.078 1.143c-.267.147-.578-.09-.527-.4l.396-2.422-1.68-1.713c-.216-.22-.098-.604.2-.65l2.324-.355zM10.635 5.415l1.039-2.203a.357.357 0 01.652 0l1.04 2.203 2.323.356c.298.045.416.429.2.649l-1.68 1.713.396 2.421c.051.311-.26.548-.527.401L12 9.812l-2.078 1.143c-.267.147-.578-.09-.527-.4l.396-2.422-1.68-1.713c-.217-.22-.098-.604.2-.65l2.324-.355z"
                                                                    stroke="#000000" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-1"></path>
                                                            </svg>
                                                        </span>
                                                        <p class="txt">
                                                            reviews
                                                        </p>
                                                    </div>
                                                    <div class="cus-box-bot">
                                                        <span class="t-num">
                                                            <span class="countNum">300000</span> <span>+</span>
                                                        </span>
                                                        <p class="txt">
                                                            Products successfully launched
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cus-right">
                                <div class="cus-block">
                                    <div class="cus-list">
                                        <div class="cus-col">
                                            <div class="cus-box cus-black" data-aos="fade-up">
                                                <div class="cus-box-inner"
                                                    style="background-image: url(./assets/images/bg-cus3.jpg);">
                                                    <div class="cus-box-head">
                                                        <span class="icon x3">
                                                            <svg width="100%" height="100%" viewBox="0 0 24 24"
                                                                stroke-width="0.8" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" color="#1e1e1e">
                                                                <path
                                                                    d="M7 18v-1a5 5 0 015-5v0a5 5 0 015 5v1M1 18v-1a3 3 0 013-3v0M23 18v-1a3 3 0 00-3-3v0M12 12a3 3 0 100-6 3 3 0 000 6zM4 14a2 2 0 100-4 2 2 0 000 4zM20 14a2 2 0 100-4 2 2 0 000 4z"
                                                                    stroke="#1e1e1e" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-1"></path>
                                                            </svg>
                                                        </span>
                                                        <p class="txt">
                                                            Community
                                                        </p>
                                                    </div>
                                                    <div class="cus-box-bot">
                                                        <span class="t-num">
                                                            <span class="countNum">900000</span> <span>+</span>
                                                        </span>
                                                        <p class="txt">
                                                            Products successfully launched
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cus-col">
                                            <div class="cus-box" data-aos="fade-up" data-aos-delay="600">
                                                <div class="cus-box-inner"
                                                    style="background-image: url(./assets/images/bg-cus4.jpg);">
                                                    <div class="cus-box-head">
                                                        <span class="icon x4">
                                                            <svg width="100%" height="100%" stroke-width="0.8"
                                                                viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" color="#000000">
                                                                <path
                                                                    d="M15 4V2m0 2v2m0-2h-4.5M3 10v9a2 2 0 002 2h14a2 2 0 002-2v-9H3zM3 10V6a2 2 0 012-2h2M7 2v4M21 10V6a2 2 0 00-2-2h-.5"
                                                                    stroke="#fff" stroke-width="0.8"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="svg-elem-1"></path>
                                                            </svg>
                                                        </span>
                                                        <p class="txt">
                                                            Events
                                                        </p>
                                                    </div>
                                                    <div class="cus-box-bot">
                                                        <span class="t-num">
                                                            <span class="countNum">400</span> <span>+</span>
                                                        </span>
                                                        <p class="txt">
                                                            Products successfully launched
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="sec-motion" id="section4">
            <div class="motion-bgc"></div>
            <div class="container">
                <div class="motion">
                    <div class="motion-bg">
                        <img src="./assets/images/bg-motion.png" alt="">
                    </div>
                    <div class="motion-wrap">
                        <div class="motion-head">
                            <h2 class="motion-title">
                                For Consumers
                            </h2>
                            <div class="t24">
                                <p>
                                    Experience Hot Beauty Products and Explore New Brands
                                </p>
                            </div>
                        </div>
                        <div class="motion-block">
                            <div class="motion-pos">
                                <div class="motion-list">
                                    <div class="glowworm-loader">
                                        <div class="glowworm-motion">
                                            <div class="glowworm-container">
                                                <div class="glowworm-left"></div>
                                                <div class="glowworm-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="motion-item">
                                        <div class="motion-inner">
                                            <div class="motion-ctn">
                                                <span class="t-num">
                                                    <span class="countNum">30000</span> +
                                                </span>
                                                <p class="txt">
                                                    Products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="motion-item">
                                        <div class="motion-inner">
                                            <div class="motion-ctn">
                                                <span class="t-num">
                                                    <span class="countNum">400</span> +
                                                </span>
                                                <p class="txt">
                                                    Trial Events
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="motion-item">
                                        <div class="motion-inner">
                                            <div class="motion-ctn">
                                                <span class="t-num">
                                                    <span class="countNum">100</span> +
                                                </span>
                                                <p class="txt">
                                                    Beauty brands waiting for you
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="motion-line-top">
                                    <img src="./assets/images/motion-line-top.png" alt="">
                                </div>
                                <div class="motion-line-bot">
                                    <img src="./assets/images/motion-line-bot.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-txt">
            <div class="txt-wrap">
                <div class="line-txt text-line">
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>

                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                </div>
                <div class="line-txt">
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have
                        <i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                </div>
                <div class="line-txt">
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have<i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have<i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have<i>
                            what we have
                        </i>
                    </p>
                </div>
                <div class="line-txt">
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have
                        <i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                    <p>
                        what we have <i>
                            what we have
                        </i>
                        what we have <i>
                            what we have
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <section class="sec-vis color_wrap black">
            <div class="cursor">
                <span>
                    <svg class="cir" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 142">
                        <circle class="cls-2" cx="71" cy="71" r="70"></circle>
                    </svg>
                    <em>
                        <svg class="arr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.56 29.5">
                            <polyline class="cls-1" points="29.31 1.5 44.06 14.75 29.31 28"></polyline>
                            <line class="cls-1" x1="44.06" y1="14.75" x2="1.5" y2="14.75"></line>
                        </svg>
                    </em>
                </span>
            </div>
            <div class="inner-pos in_18 h_max">
                <div class="vis_txt active">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="vis_gr">
                                    <a href="" target="_blank"></a>
                                    <p class="txt_point mid">Emerging Brands</p>
                                    <p class="txt_des">
                                        Be the first to try new and upcoming products from top emerging brands
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="vis_gr">
                                    <a href="" target="_blank"></a>
                                    <p class="txt_point mid">new products</p>
                                    <p class="txt_des">
                                        Be the first to try new and upcoming products from top emerging brands
                                    </p>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="vis_gr">
                                    <a href="" target="_blank"></a>
                                    <p class="txt_point mid">stories</p>
                                    <p class="txt_des">
                                        Be the first to try new and upcoming products from top emerging brands
                                    </p>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="vis_gr">
                                    <a href="" target="_blank"></a>
                                    <p class="txt_point mid">exhibitions</p>
                                    <p class="txt_des">
                                        Be the first to try new and upcoming products from top emerging brands
                                    </p>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="vis_gr">
                                    <a href="" target="_blank"></a>
                                    <p class="txt_point mid">categories</p>
                                    <p class="txt_des">
                                        Be the first to try new and upcoming products from top emerging brands
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vis_img active">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero">
                                        <div class="bg" style="background-image: url(./assets/images/vis-img.jpg);">
                                        </div>
                                        <a href="" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero">
                                        <div class="bg" style="background-image: url(./assets/images/vis-img2.jpg);">
                                        </div>
                                        <a href="" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero">
                                        <div class="bg" style="background-image: url(./assets/images/vis-img3.jpg);">
                                        </div>
                                        <a href="" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero">
                                        <div class="bg" style="background-image: url(./assets/images/vis-img.jpg);">
                                        </div>
                                        <a href="" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="img_point">
                                    <div class="sd_wrap accelero">
                                        <div class="bg" style="background-image: url(./assets/images/vis-img2.jpg);">
                                        </div>
                                        <a href="" target='_blank'></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vis_scrollbar">
                            <span>
                                <em></em>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="vis_num"></div>
            </div>
        </section>
        <section class="sec-contact">
            <div class="container">
                <div class="contact">
                    <div class="contact-wrap">
                        <div class="contact-flex">
                            <div class="contact-col">
                                <div class="contact-form">
                                    <div class="contact-form-top">
                                        <div class="contact-tt">
                                            <h2>
                                                Customer Inquiry
                                            </h2>
                                        </div>
                                        <div class="contact-des">
                                            <p>
                                                Contact us via email or phone for any questions or concerns
                                            </p>
                                        </div>
                                    </div>
                                    <form action="">
                                        <div class="contact-form-gr">
                                            <div class="ip-control">
                                                <label for="" class="t-label">Phone number</label>
                                                <input type="text">
                                            </div>
                                            <div class="ip-control">
                                                <label for="" class="t-label">Email</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn sc-btn">
                                            <div class="inner">
                                                <i class="fa-light fa-arrow-right"></i>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="contact-col">
                                <div class="contact-list">
                                    <div class="contact-item">
                                        <p class="text">
                                            Quick inquiry
                                        </p>
                                        <a href="" class="btn-flip t-link t64 fw-7">
                                            <span class="label"><span data-label="(+84) 961-554-388">(+84)
                                                    961-554-388</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="contact-item">
                                        <p class="text">
                                            E-mail
                                        </p>
                                        <a href="" class="btn-flip t-link t48 fw-7">
                                            <span class="label"><span
                                                    data-label="support@review-ty.com">support@review-ty.com</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-ctn">
                    <div class="footer-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="footer-info">
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Email
                                </p>
                                <a href="" class="tlink">
                                    marketing@review-ty.com
                                </a>
                            </div>
                        </div>
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Phone number
                                </p>
                                <a href="" class="tlink">
                                    (+84) 961-554-388
                                </a>
                            </div>
                        </div>
                        <div class="footer-info-item">
                            <div class="footer-info-inner">
                                <p class="text">
                                    Follow us
                                </p>
                                <div class="ft-list">
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-fb.png" alt="">
                                    </a>
                                    <a href="" class="icon-link">
                                        <img src="./assets/images/icon-ins.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-map my-100">
                    <div class="footer-map-inner">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.0126638090078!2d105.76952933729409!3d21.031672558120984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3e68de1e9%3A0x2b0e6e578c563552!2sC%C3%94NG%20TY%20TNHH%20REVIEWTY!5e0!3m2!1svi!2s!4v1692029878939!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="footer-sign">
                    <p>
                        COPYRIGHT © 2023. REVIEWTY. ALL RIGHTS RESERVED.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/library/gsap/TweenMax.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>