<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <main class="main">
        <section class="sec-hu">
            <div class="hu-bn">
                <div class="bg">
                    <img src="./assets/huImg/bn.png" alt="">
                </div>
                <div class="container">
                    <div class="hu-bn-wr">
                        <h1 class="hu-bn-tt">
                            Discover Local Beauty
                            Vietnam's Best Kept Secrets
                        </h1>
                        <p class="hu-bn-desc">
                            Explore and support emerging Vietnamese beauty brands, experience high-quality local
                            products
                        </p>
                    </div>
                </div>
            </div>
            <div class="hu-br">
                <div class="container">
                    <h2 class="hu-br-tt">
                        Target Brands
                    </h2>
                    <p class="hu-br-desc">
                        Emerging Vietnamese Brands
                    </p>
                </div>
                <div class="hu-br-slider">
                    <div class="hu-br-one">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br1.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br1.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br2.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br2.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br3.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br3.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br4.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br4.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br5.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br5.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br6.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br6.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br7.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br7.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hu-br-two">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br1.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br1.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br2.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br2.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br3.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br3.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br4.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br4.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br5.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br5.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br6.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br6.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-br-it">
                                        <div class="inner">
                                            <img src="./assets/huImg/br7.png" alt="">
                                        </div>
                                        <div class="hu-br-on">
                                            <div class="inner">
                                                <img src="./assets/huImg/br7.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="info-desc">
                                                    Explore and support emerging Vietnamese beauty brands, experience
                                                    high-quality local products
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hu-bl">
                <div class="hu-bl-box">
                    <div class="container">
                        <div class="hu-bl-box-wr">
                            <p class="hu-bl-tt">
                                Benefits
                            </p>
                            <div class="hu-bl-list">
                                <div class="hu-bl-it">
                                    <div class="inner">
                                        <img src="./assets/huImg/ic-vi.svg" alt="">
                                        <p class="text">
                                            Enhanced Visibility
                                        </p>
                                        <p class="desc">
                                            Highlight how being featured on Reviewty provides the brand with increased
                                            exposure. Mention the number of site visitors or app users you have,
                                            emphasizing
                                            that these are people specifically interested in discovering new beauty
                                            brands.
                                        </p>
                                    </div>
                                </div>
                                <div class="hu-bl-it">
                                    <div class="inner">
                                        <img src="./assets/huImg/ic-bag.svg" alt="">
                                        <p class="text">
                                            Direct Access to Consumers
                                        </p>
                                        <p class="desc">
                                            Explain how brands can directly engage with potential customers through
                                            Reviewty. This could be through user reviews, Q&A sessions, special
                                            promotional events, or other interactive features.
                                        </p>
                                    </div>
                                </div>
                                <div class="hu-bl-it">
                                    <div class="inner">
                                        <img src="./assets/huImg/ic-warr.svg" alt="">
                                        <p class="text">
                                            Establishing Credibility
                                        </p>
                                        <p class="desc">
                                            Discuss how being featured on Reviewty can help build a brand's reputation.
                                            User reviews and ratings, along with any Reviewty awards or features, can
                                            enhance a brand's credibility and trustworthiness in the eyes of consumers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hu-sl">
                <div class="container">
                    <div class="hu-sl-tt">
                        <p class="sub">STEP BY STEP</p>
                        <h2 class="tt">Selection by Reviewty</h2>
                    </div>
                    <div class="hu-sl-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hu-sl-it" data-num="01">
                                        <div class="inner">
                                            <div class="img">
                                                <a href="" class="img-inner">
                                                    <img src="./assets/huImg/dt3.png" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <a href="" class="info-link">
                                                    Brand Assessment and Registration with Reviewty
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-sl-it" data-num="02">
                                        <div class="inner">
                                            <div class="img">
                                                <a href="" class="img-inner">
                                                    <img src="./assets/huImg/dt2.png" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <a href="" class="info-link">
                                                    Hosting a Reviewty Event
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hu-sl-it" data-num="03">
                                        <div class="inner">
                                            <div class="img">
                                                <a href="" class="img-inner">
                                                    <img src="./assets/huImg/dt1.png" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <a href="" class="info-link">
                                                    Ingredient Safety Testing Through a Reputable Agency and
                                                    Certification Acquisition
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn">
                        <span class="txt">Apply now</span>
                        <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/library/gsap/TweenMax.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>