.sec-hu {
    .container {
        width: 100%;
        max-width: 123rem !important;
    }

    .hu-bn {
        position: relative;

        .bg {
            position: absolute;
            @include full;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hu-bn-wr {
            min-height: calc(547/1739*100vw);
            position: relative;
            z-index: 2;
            padding: 15rem 0 8rem 0;
        }

        .hu-bn-tt {
            @include font-second;
            font-size: 8rem;
            font-weight: 700;
            line-height: 1.2;
            text-align: center;
            color: $color-text;

            @include max(1200px) {
                font-size: 6rem;
            }

            @include max(800px) {
                font-size: 4rem;
            }

            @include max(500px) {
                font-size: 2.4rem;
            }
        }

        .hu-bn-desc {
            @include fz-24;
            text-align: center;
            color: $color-text
        }
    }

    .hu-br {
        padding: 8rem 0;

        @include max(1200px) {
            padding: 4rem 0;
        }

        .hu-br-tt {
            @include fz-64;
            font-weight: 700;
            text-align: center;
            color: $color-text
        }

        .hu-br-desc {
            @include fz-20;
            text-align: center;
            color: $color-text;
            margin-bottom: 6rem;
        }

        .hu-br-slider {
            @include max(400px) {
                padding: 0 1.5rem;
            }

            .swiper {
                padding: 8rem 0;

                &-slide {
                    overflow: visible;

                    &-active {
                        z-index: 10;

                        .hu-br-on {
                            transform: translate(-50%, -50%) scale(1.2);

                            @include max(400px) {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }
                }
            }
        }

        .hu-br-it {
            border-radius: 1rem;
            padding: 1rem 1.6rem;
            position: relative;

            .inner {
                @include imgPd(120, 209);

                img {
                    @include imgContain;
                }
            }
        }

        .hu-br-on {
            position: absolute;
            width: 110%;
            z-index: 2;
            background-color: $color-white;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
            border-radius: 1rem;
            transition: 0.4s;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            padding: 2rem 4rem;

            @include max(750px) {
                padding: 1rem 2rem;
            }

            @include max(400px) {
                transform: translate(-50%, -50%) scale(1);
                width: 100%;
            }

            .info {
                transition: 0.4s;
                overflow: hidden;
                margin-top: 1rem;

                .info-desc {
                    @include lc(3);
                    color: $color-text;
                    text-align: center;

                    @include max(750px) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .hu-bl {
        padding: 0 1.5rem;

        .hu-bl-tt {
            @include fz-64;
            font-weight: 700;
            margin-bottom: 8rem;

            @include max(1200px) {
                margin-bottom: 4rem;
            }

            @include max(600px) {
                text-align: center;
            }
        }

        .hu-bl-box {
            background-color: #1E1E1E;
            border-radius: 2rem;
            padding: 9rem 0;

            @include max(1200px) {
                padding: 4rem 0;
            }
        }

        .hu-bl-list {
            @include flex;
            flex-wrap: wrap;
            margin: 0 -1.2rem;
            margin-bottom: -4rem;
        }

        .hu-bl-it {
            padding: 0 1.2rem;
            margin-bottom: 4rem;
            width: calc(100% / 3);

            img {
                width: 8rem;
                height: 8rem;
                margin-bottom: 3rem;

                @include max(900px) {
                    margin-bottom: 1rem;
                }
            }

            .text {
                font-weight: 700;
                margin-bottom: 3rem;
                @include fz-24;

                @include max(900px) {
                    margin-bottom: 1rem;
                }
            }

            @include max(900px) {
                width: 50%;

                &:last-child {
                    width: 100%;
                }
            }

            @include max(600px) {
                &:nth-child(n + 1) {
                    width: 100%;

                    .inner {
                        @include flex;
                        flex-direction: column;
                        align-items: center;

                        .text {
                            text-align: center;
                        }

                        .desc {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .hu-sl {
        padding: 8rem 0;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 10%;
            background-image: url("../assets/huImg/line.png");
            @include default-background;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            content: '';
            width: 100%;
            height: 10%;
            background-image: url("../assets/huImg/line.png");
            @include default-background;
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include max(1200px) {
            padding: 4rem 0
        }

        .hu-sl-tt {
            .sub {
                @include fz-32;
                font-weight: 600;
                color: #969696;
                text-align: center;
            }

            .tt {
                @include fz-64;
                font-weight: 700;
                color: #1E1E1E;
                text-align: center;
                margin-bottom: 3rem;
            }
        }

        .hu-sl-slider {
            .swiper {
                &-slide {}
            }
        }

        .hu-sl-it {
            position: relative;
            &::after {
                content: attr(data-num);
                width: 9.4rem;
                height: 9.4rem;
                border-radius: 100rem;
                background-color: #1E1E1E;
                border: 0.2rem solid white;
                position: absolute;
                top: 0;
                left: 4%;
                color: white;
                font-weight: 700;
                @include fz-32;
                @include mid-flex;
                @include max(900px) {
                    width: 7rem;
                    height: 7rem;
                }
                @include max(600px) {
                    width: 5rem;
                    height: 5rem;
                    top: 4%;
                    left: 8%;
                }
                @include max(400px) {
                    top: 7%;
                    left: 15%;
                }
            }
            .inner {
                .img {
                    &-inner {
                        @include imgPd(412, 229);

                        img {
                            @include imgContain;
                        }
                    }
                }

                .info {
                    &-link {
                        color: #1E1E1E;
                        text-align: center;
                        display: block;
                        @include fz-24;
                        font-weight: 600;

                        @include max(500px) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        .btn {
            margin: auto;
            margin-top: 4rem;
            border: 0.1rem solid #1E1E1E;
        }
    }
}