.footer {
  padding-top: calc(var(--size-hd) + (var(--pd-sc) * 2));
  background: $color-black;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/images/bg-ft.png);
  @include max(1200px) {
    padding: 6rem 0;
  }
  &-ctn {
    @include flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: space-between;
    @include max(880px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }
  &-logo {
    flex-shrink: 0;
    .custom-logo-link {
      width: 27rem;
      @include mid-flex;
    }
  }
  &-info {
    @include flex;
    gap: 14rem;
    @include max(1200px) {
      gap: 3rem;
    }
    @include max(880px) {
      justify-content: space-between;
      width: 100%;
    }
    @include max(520px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &-item {
      // padding: 0 2.5rem;
    }
    &-inner {
      @include flex;
      flex-direction: column;
      gap: 2.4rem;
      .text {
        @include fz-32;
        font-weight: 700;
      }
      .tlink {
        @include fz-14;
      }
      .ft-list {
        @include flex;
        align-items: center;
        gap: 1.6rem;
        .icon-link {
          width: 2.4rem;
          height: 2.4rem;
          @include mid-flex;
        }
      }
    }
  }
  &-map {
    &-inner {
      position: relative;
      padding-top: calc((515 / 1416) * 100%);
      iframe {
        @include imgCover;
      }
    }
  }
  &-sign {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
  }
}
