.header {
  height: var(--size-hd);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 50;
  &.sticky {
  }
  &.header-cus {
    background: $color-black;
  }
  &-nav {
    height: inherit;
    position: relative;
    z-index: 1;
  }
  &-wrap {
    @include flex;
    justify-content: space-between;
    gap: 0.8rem;
    align-items: center;
    height: inherit;
  }
  .custom-logo-link {
    display: flex;
    @include transitionRe;
    width: 15rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-group {
    @include flex;
    align-items: center;
    gap: 2.4rem;
    @include max(500px) {
      gap: 0.8rem;
    }
  }
  &-select {
    position: relative;
    &-pos {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.8rem 1.6rem;
      display: none;
      .header-select-gr {
        background: transparent;
        border-radius: unset;
        padding: unset;
        justify-content: unset;
      }
    }
    &-gr {
      @include mid-flex;
      align-items: center;
      gap: 0.4rem;
      padding: 0.8rem 1.6rem;
      border-radius: 10rem;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(0.1rem);
      cursor: pointer;
      @include max(500px) {
        gap: 0.6rem;
        padding: 0.8rem;
      }
      &.active {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    .icon-flag {
      @include mid-flex;
      width: 1.6rem;
      height: 1.6rem;
      flex-shrink: 0;
    }
    .text {
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 0.6rem;
    }
    .icon {
      font-size: 1.4rem;
      transition: 0.3s ease-in-out;
    }
  }
  &-menu {
    &-gr {
      @include flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;
      .text {
        font-weight: 600;
        text-transform: uppercase;
      }
      .icon {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 2rem;
        @include mid-flex;
        transform: rotate(-180deg) scaleY(-1);
        i {
          transition: 0.3s ease-in-out;
        }
      }
      &.active {
        i {
          &::before {
            content: "\f00d";
          }
        }
      }
    }
  }
}
.menu {
  top: 0;
  position: fixed;
  left: -100%;
  width: 100%;
  bottom: 0;
  background: $color-black;
  &-wrap {
    padding: 5vw 0;
    box-sizing: border-box;
    height: 100%;
    @include flex;
    gap: 0.8rem;
    justify-content: space-between;
    align-items: center;
  }
  &-ct {
    &-list {
      @include flex;
      flex-direction: column;
      gap: max(4rem, 4.2vw);
    }
    &-item {
      @include flex;
      flex-direction: column;
      gap: 1.2rem;
      .icon-list {
        @include flex;
        align-items: center;
        gap: 2.4rem;
        .icon-link {
          @include mid-flex;
        }
      }
      .t-link {
        @include fz-32;
        font-weight: 600;
        position: relative;
        @include max(560px) {
          font-size: 1.4rem;
        }
        &::after {
          content: attr(data-label);
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }
  }
  &-nav {
    @include flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
  }
  &-item {
    position: relative;
    overflow: hidden;
  }
  &-link {
    font-size: max(4rem, 4.2vw);
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    // background: rgba(0, 0, 0, 0);
    span {
      display: inline-flex;
      position: relative;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: #f2f3f2;
      -webkit-text-fill-color: transparent;
      transition: -webkit-text-stroke-width 300ms,
        -webkit-text-stroke-color 300ms, -webkit-text-fill-color 300ms;
      will-change: -webkit-text-stroke-width, -webkit-text-stroke-color,
        -webkit-text-fill-color;
      @include hover {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f2f3f2;
        &::before {
          opacity: 0;
        }
      }
      &::before {
        content: attr(data-label);
        -webkit-text-fill-color: #f2f3f2;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 300ms;
        will-change: opacity;
      }
    }
  }
}
.btn-flip {
  position: relative;
  display: inline-flex;
  &::before {
    content: "";
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background-color: $color-black;
    position: absolute;
  }
  @include hover {
    .label {
      span {
        transform: translateY(-100%);
      }
    }
  }
  .label {
    display: block;
    overflow: hidden;
    position: relative;
    span {
      transition: transform 300ms;
      display: flex;
      align-items: center;
      height: 80%;
      &::after {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
  }
}
