.btn {
  @include mid-flex;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 100rem;
  font-weight: 700;
  @include transition(0.5s, ease);
  overflow: hidden;
  position: relative;
  background: $color-pri;
  gap: 1rem;
  color: white;
  font-size: 1.6rem;
  > * {
    position: relative;
    z-index: 2;
  }
  .text {
  }
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: $color-white;
    transition: all 0.3s ease;
    z-index: 1;
  }
  @include hover {
    color: #4d4d4d;
    &::after {
      left: 0;
      width: 100%;
    }
  }
  .inner {
    @include mid-flex;
    font-size: 6rem;
    @include max(900px) {
      font-size: 4rem;
    }
  }
  &.sc-btn {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: #4d4d4d;
    @include max(900px) {
      margin: 0 auto;
      width: 10rem;
      height: 10rem;
    }
  }
}
